@import "tailwindcss";

:root {
  /* Color Palette */
  --background: #ffffff;
  --primary: #843919;
  --heading: #2A1A0B;
  --body: #6B6B6B;
  --description: #737373;
  --accent: #F15E01;
  --surface: #F8F7F3;
  --surface-icon: #ECE7E2;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-heading: var(--heading);
  --color-body: var(--body);
  --color-description: var(--description);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-surface-icon: var(--surface-icon);

  /* Fonts */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-playfair: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--body);
}
